@font-face {
  font-family: 'Spline Sans';
  src: url('../assets/fonts/spline-sans/SplineSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spline Sans';
  src: url('../assets/fonts/spline-sans/SplineSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spline Sans';
  src: url('../assets/fonts/spline-sans/SplineSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spline Sans';
  src: url('../assets/fonts/spline-sans/SplineSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
